.header {
    display: flex;
    height: 55px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 220, 220);
    z-index: 100;
}

.left-section {
    display: flex;
    margin-right: 50px;
    align-items: center;
}

.hamburger-menu-icon {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo-icon {
    height: 20px;
}

.middle-section {
    flex: 1;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-box {
    height: 36px;
    width: 0;
    flex: 1;
    max-width: 350px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(213, 210, 210);
    padding: 1px 2px 1px 12px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset 0px 1px 2px #eeeeee;
}

.search-button {
    height: 39px;
    width: 60px;
    background-color: rgb(247, 247, 247);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(226, 223, 223);
    margin-left: -1px;
    margin-right: 8px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    cursor: pointer;
    position: relative;
}

.search-button:hover {
    background-color: rgb(240, 240, 240);
}

.search-icon {
    height: 24px;
}

.voice-search-icon {
    height: 25px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(246, 246, 246);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section {
    width: 200px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload-icon, .apps-icons, .notifications-icon, .my-channel-profile {
    height: 25px;
}

.notifications-icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notifications-count {
    position: absolute;
    font-family: Roboto;
    font-size: 10px;
    color: white;
    background-color: rgb(203, 1, 1);
    padding: 1px 5px 1px 5px;
    border-radius: 10px;
    top: -2px;
    right: -2px;
}

.my-channel-profile {
    height: 32px;
    border-radius: 15px;
    margin-right: 20px;
}

.tooltip {
    position: absolute;
    font-family: Roboto;
    color: white;
    background-color: rgb(97, 95, 95, 0.9);
    padding: 10px 8px 10px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -50px;
    opacity: 0;
    pointer-events: none;
    text-wrap: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.right-section-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
    opacity: 1;
}

.right-section-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}